<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>跳转至 0xFFFF</title>
  <link rel="stylesheet" href="/jump/main.css?v=5">
</head>
<body>
  <div class="container">
    <div class="open-tips">
      <p class="tips-text">点击右上角<br>在系统浏览器打开</p>
    </div>
    <div class="link-bd">
      <div class="site-logo"></div>
      <h3>0xFFFF Forum</h3>
      <p class="link-wd">您即将访问</p>
      <p class="link-url">https://0xffff.one/d/1</p>
      <p>
        <button class="Button Button--primary copy-btn">
          <span class="Button-label">复制链接</span>
        </button>
      </p>
      <p class="extra-tips">若页面未自动跳转<br>您还可以手动复制链接并在系统浏览器打开</p>
    </div>
    <div class="toast-wrap">
      <div class="toast"></div>
    </div>
    <p class="footer">© 2018-2023 0xFFFF</p>
  </div>
  <script src="/jump/main.js?v=5"></script>
</body>
</html>
