@diff-old-version-del-color: #662222;
@diff-new-version-ins-color: #225522;
@diff-old-version-bg-color: #380000;
@diff-new-version-bg-color: #002800;
@diff-change-version-del-color: lighten(@diff-old-version-bg-color, 5%);
@diff-change-version-ins-color: lighten(@diff-new-version-bg-color, 5%);
@diff-info-color: #1b1b1b;

// borders
@diff-old-version-bg-color-border: lighten(@diff-old-version-bg-color, 5%);
@diff-new-version-bg-color-border: lighten(@diff-new-version-bg-color, 5%);
@diff-change-version-del-color-border: lighten(@diff-change-version-del-color, 5%);
@diff-change-version-ins-color-border: lighten(@diff-change-version-ins-color, 5%);
@diff-info-color-border: lighten(@diff-info-color, 6%);
