@diff-old-version-del-color: #ffb6ba;
@diff-new-version-ins-color: #97f295;
@diff-old-version-bg-color: #fee8e9;
@diff-new-version-bg-color: #dfd;
@diff-change-version-del-color: #fdf2d0;
@diff-change-version-ins-color: #ded;
@diff-info-color: #f8fafd;

// borders
@diff-old-version-bg-color-border: darken(@diff-old-version-bg-color, 25%);
@diff-new-version-bg-color-border: darken(@diff-new-version-bg-color, 25%);
@diff-change-version-del-color-border: darken(@diff-change-version-del-color, 25%);
@diff-change-version-ins-color-border: darken(@diff-change-version-ins-color, 25%);
@diff-info-color-border: darken(@diff-info-color, 25%);
